$color-primary: #2C80FF;
$color-contrast-primary: #fff;
$color-primary-text-shadow: #ccc;
$color-gradient-primary-high: #1673ff;
$color-gradient-primary-low: rgba(24, 124, 183, 0.34);
$color-contrast-navbar: #ddd;
$color-navbar: rgba(22, 115, 255, 0.4);