$color-primary: #2C80FF;
$color-contrast-primary: #fff;
$color-primary-dark: #0B56B3;
$color-primary-text-shadow: #ccc;
$color-gradient-primary-high: #1673ff;
$color-gradient-primary-low: rgba(24, 124, 183, 0.34);
$color-navbar: #1a73fe;