@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.full-page {
  height: 100vh;
}

.header {
  position: fixed;
  z-index: 100;

  .header-content {
    height: 3rem;
    display: flex;
    align-items: center;
    max-width: 2000px;
    padding: 0 1.5rem;
  }
}

.nav {
  width: 100%;

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    list-style: none;
  }

  .nav-link {
    font-family: 'Russo One', sans-serif;
    transition: all 0.2s;
    text-decoration: none;
    color: $color-background-primary;
    padding: 0.5rem 1rem;
  }

  .nav-link:hover,
  .nav-link.active {
    background-color: $color-background-primary;
    color: $color-primary;
    border-radius: 3rem;
  }
}

#home {
  display: grid;
  position: relative;
  grid-template-rows: 3fr 2fr;
  background: linear-gradient(
    $color-gradient-primary-high,
    $color-gradient-primary-low
  );
  position: relative;

  #img-stars {
    width: 100vw;
    height: 100vh;
    z-index: 1;
  }

  #img-mountains {
    z-index: 4;
    position: absolute;
    width: 100vw;
    bottom: 0;
  }

  #img-photo {
    z-index: 5;
    position: absolute;
    bottom: 0;
    max-height: 80vh;
    max-width: 35vw;
    right: 15%;
  }

  #img-moon {
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
  }

  #img-cloud {
    z-index: 3;
    position: absolute;
    top: 3.5rem;
    left: 3rem;
  }

  #home-title {
    z-index: 2;
    position: absolute;
    top: 15%;
    width: 100%;
    color: $color-background-primary;
    font-family: 'Russo One', sans-serif;
    text-align: center;

    #name {
      font-size: 2rem;
      text-shadow: 0.2rem 0.2rem 0.2rem $color-primary-text-shadow;
    }

    .job-description {
      font-size: 3rem;
      text-shadow: 0.3rem 0.3rem 0.3rem $color-primary-text-shadow;
    }
  }

  #tech-icons-container {
    position: absolute;
    z-index: 5;
    top: 8rem;
    left: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .tech-icon {
      width: 1.6rem;
      height: 1.6rem;
      animation: animate 5s linear infinite;
      animation-duration: calc(30s / var(--anim-duration));
      transform-origin: bottom;
    }
  }

  @keyframes animate {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(60vh);
    }
  }

  // tablet
  @media screen and (max-width: 820px) {
    #img-moon {
      height: 10rem;
    }

    #img-photo {
      min-width: 40vw !important;
      left: calc(50% - 20vw) !important;
    }

    #img-cloud {
      height: 5rem;
    }

    #tech-icons-container {
      .tech-icon {
        height: 1rem;
        width: 1rem;
      }
    }

    #home-title {
      top: 10rem;
    }
  }

  // mobile
  @media screen and (max-width: 480px) {
    #img-moon {
      height: 7rem;
    }

    #img-photo {
      min-width: 50vw !important;
      left: calc(50% - 25vw) !important;
    }

    #home-title {
      top: 12rem;
    }
  }

  // ultra wide
  @media screen and (min-aspect-ratio: 19/9) {
    #img-cloud {
      left: 20rem;
    }

    #tech-icons-container {
      left: 21rem;
    }
  }
}

#about-me {
  background-color: red;
  z-index: 10;
  position: relative;
}

#experience {
  background-color: orange;
}
