@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.full-page {
  height: 100vh;
}

#header {
  position: fixed;
  z-index: 100;
  width: 100vw;

  .header-content {
    height: 3rem;
    display: flex;
    align-items: center;
    max-width: 2000px;
    padding: 0 1.2rem;
  }
}

.nav {
  width: 100%;

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2rem;
    list-style: none;
  }

  .nav-link {
    font-family: 'Russo One', sans-serif;
    transition: all 0.2s;
    text-decoration: none;
    color: $color-contrast-navbar;
    padding: 0.5rem 1rem;
  }

  .nav-link:hover,
  .nav-link.active {
    background-color: $color-contrast-navbar;
    color: $color-primary;
    border-radius: 3rem;
  }

  .nav-link-accent {
    color: $color-primary !important;
  }

  .nav-link-accent:hover,
  .nav-link-accent.active {
    background-color: $color-primary !important;
    color: $color-contrast-primary !important;
  }
}

#home {
  display: grid;
  position: relative;
  grid-template-rows: 3fr 2fr;
  background: linear-gradient(
    $color-gradient-primary-high,
    $color-gradient-primary-low
  );
  position: relative;

  #img-stars {
    width: 100vw;
    height: 100vh;
    z-index: 1;
  }

  #img-mountains {
    z-index: 4;
    position: absolute;
    width: 100vw;
    bottom: 0;
  }

  #img-photo {
    z-index: 5;
    position: absolute;
    bottom: 0;
    max-height: 80vh;
    max-width: 35vw;
    right: 15%;
  }

  #img-moon {
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
  }

  #img-cloud {
    z-index: 3;
    position: absolute;
    top: 3.5rem;
    left: 3rem;
  }

  #home-title {
    z-index: 2;
    position: absolute;
    top: 15%;
    width: 100%;
    color: $color-contrast-primary;
    font-family: 'Russo One', sans-serif;
    text-align: center;

    #name {
      font-size: 2rem;
      text-shadow: 0.2rem 0.2rem 0.2rem $color-primary-text-shadow;
    }

    .job-description {
      font-size: 3rem;
      text-shadow: 0.3rem 0.3rem 0.3rem $color-primary-text-shadow;
    }
  }

  #tech-icons-container {
    position: absolute;
    z-index: 5;
    top: 8rem;
    left: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .tech-icon {
      width: 1.6rem;
      height: 1.6rem;
      animation: animate 5s linear infinite;
      animation-duration: calc(30s / var(--anim-duration));
      transform-origin: bottom;
    }
  }

  @keyframes animate {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(60vh);
    }
  }

  // tablet
  @media screen and (max-width: 820px) {
    #img-moon {
      height: 10rem;
    }

    #img-photo {
      min-width: 40vw !important;
      left: calc(50% - 20vw) !important;
    }

    #img-cloud {
      height: 5rem;
    }

    #tech-icons-container {
      .tech-icon {
        height: 1rem;
        width: 1rem;
      }
    }

    #home-title {
      top: 10rem;
    }
  }

  // mobile
  @media screen and (max-width: 480px) {
    #img-moon {
      height: 7rem;
    }

    #img-photo {
      min-width: 50vw !important;
      left: calc(50% - 25vw) !important;
    }

    #home-title {
      top: 15rem;

      #name {
        font-size: 1.6rem;
      }

      .job-description {
        font-size: 2.4rem;
      }
    }

    .tech-icon {
      animation-duration: calc(40s / var(--anim-duration)) !important;
    }

    @keyframes animate {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(90vh);
      }
    }
  }

  // ultra wide
  @media screen and (min-aspect-ratio: 19/9) {
    #img-cloud {
      left: 20rem;
    }

    #tech-icons-container {
      left: 21rem;
    }
  }
}

#about-me {
  background-color: $color-contrast-primary;
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;

  #about-me-container {
    max-width: 2000px !important;
    width: 100vw;
    position: relative;

    #about-me-title-container {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      #about-me-title {
        background-color: $color-primary-dark;
        color: $color-contrast-primary;
        z-index: 11;
        border-radius: 50%;
        font-family: 'Russo One', sans-serif;
        font-size: 1.3rem;
        height: 15rem;
        width: 15rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    #about-me-web-dev {
      position: absolute;
      left: 7rem;
      top: 7rem;
    }

    #img-pmr-sticker-computer {
      position: absolute;
      left: 10rem;
      top: 4.5rem;
      width: 8rem;
      height: auto;
    }

    #about-me-robotics {
      position: absolute;
      right: 7rem;
      bottom: 10rem;
    }

    #img-pmr-sticker {
      position: absolute;
      right: 10rem;
      bottom: -7rem;
      width: 8rem;
      height: auto;
    }

    #moving-robot-container {
      width: 50vw;
      height: 10rem;
      position: absolute;
      bottom: 2rem;
      left: 1rem;

      #img-5dpo-robot {
        height: 9rem;
        width: auto;
        animation: sdpo-robot-move 10s linear infinite;

        @keyframes sdpo-robot-move {
          0% {
            transform: translate(0);
          }
          50% {
            transform: translate(50vw);
          }
        }
      }
    }

    .about-me-card {
      background-color: $color-primary;
      color: $color-contrast-primary;
      border-radius: 1rem;
      font-family: 'Roboto', sans-serif;
      padding: 0.8rem;
      text-align: justify;
      text-justify: inter-character;
      width: 15rem;
    }
  }

  // tablet
  @media screen and (max-width: 820px) {
    #moving-robot-container {
      width: 40vw !important;

      @keyframes sdpo-robot-move {
        0% {
          transform: translate(0);
        }
        50% {
          transform: translate(30vw);
        }
      }
    }
  }

  // mobile
  @media screen and (max-width: 480px) {
    #about-me-title {
      color: $color-primary-dark !important;
      background-color: transparent !important;
    }

    #about-me-web-dev {
      left: 3rem !important;
      top: 5rem !important;
    }

    #about-me-robotics {
      right: 3rem !important;
      bottom: 10rem !important;
    }

    #moving-robot-container {
      right: 0;
      left: auto !important;
      height: 6rem !important;

      #img-5dpo-robot {
        height: 5rem !important;
      }
    }
  }
}

#experience {
  z-index: 20;
  position: relative;
  display: flex;
  flex-direction: row;

  #experience-timeline {
    background-color: $color-contrast-primary;
    width: 40vw;
  }

  #snake-container {
    flex-grow: 1;
    background-color: $color-primary;
    position: relative;
    display: flex;
    flex-direction: column;

    #snake-canvas-container {
      flex-grow: 1;
      margin: 1rem;
    }

    #snake-canvas {
      border: 2px solid $color-contrast-primary;
      border-radius: 1rem;
    }

    .img-snake-food, #img-snake-game-over {
      display: none;
      width: 30px;
      height: 30px;
    }

    #snake-score-container {
      color: $color-contrast-primary;
      font-family: 'Russo One', sans-serif;
      font-size: 2rem;
      padding: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    #snake-quote-container {
      margin-bottom: 1rem;
      width: 100%;
      color: $color-contrast-primary;
      font-family: 'Roboto', sans-serif;
      font-size: 1.2rem;
      display: flex;
      justify-content: center;
      flex-direction: row;

      #snake-quote {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        #snake-quote-author {
          font-size: 0.9rem;
        }
      }
    }
  }
}
