<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pedro Relvas</title>
  <link rel="icon" href="/assets/pmr-computer.png">
  <link rel="stylesheet" href="/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&family=Russo+One&family=Anton&family=Clicker+Script&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/8f12e50e01.js" crossorigin="anonymous"></script>
  <script defer src="./bundle.js"></script>
</head>

<body class="light-theme">
  <header id="header">
    <div class="header-content">
      <button id="btn-toggle-sidenav"><i class="fa-solid fa-bars"></i></button>
      <nav id="nav" data-visible="false" aria-expanded="false">
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#home" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="#about-me" class="nav-link">About me</a>
          </li>
          <li class="nav-item">
            <a href="#experience" class="nav-link">Experience</a>
          </li>
        </ul>
      </nav>
      <div id="horizontal-spacer"></div>
      <div id="nav-actions">
        <a href="https://www.linkedin.com/in/pedro-relvas/" class="i-nav-icon" target="_blank">
          <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="https://github.com/pmrelvas" class="i-nav-icon" target="_blank">
          <i class="fa-brands fa-github"></i>
        </a>
        <div id="theme-switcher">
          <i class="fa-solid fa-sun i-nav-icon visible" id="i-theme-sun"></i>
          <i class="fa-solid fa-moon i-nav-icon hidden" id="i-theme-moon"></i>
          <input type="checkbox" id="st-theme-switcher" value="true" />
          <label for="st-theme-switcher" id="lbl-st-theme-switcher"></label>
        </div>
      </div>
    </div>
  </header>

  <main id="main-container">
    <!-- home screen -->
    <section id="home" class="full-page">
      <div class="full-page-container" id="home-container">
        <img id="img-home-trees" src="assets/trees.png" alt="trees">
        <img id="img-home-mountain-right" src="assets/mountain-right.png" alt="mountain">
        <img id="img-home-mountain-left" src="assets/mountain-left.png" alt="mountain">
        <div id="home-thunder-lightening"></div>
        <div id="pmr-photo-container">
          <img id="img-pmr-photo" src="assets/pmr-photo.png" alt="Pedro photo">
        </div>
        <div id="home-title">
          <h2 id="title-name">Pedro Relvas</h2>
          <h1 id="title-full-stack">Full-Stack<br>Developer</h1>
        </div>
        <div id="tech-rain-container">
          <!-- tech cloud rain-->
          <div id="tech-cloud-rain">
            <img id="img-cloud" class="img-white" src="/assets/cloud.svg" alt="cloud">
            <div id="tech-icons-container">
              <img src="/assets/angular-icon.svg" alt="angular icon" class="tech-icon img-white"
                style="--anim-duration:14">
              <img src="/assets/spring-boot-icon.png" alt="spring boot icon" class="tech-icon img-white"
                style="--anim-duration:20">
              <img src="/assets/docker-icon.png" alt="docker icon" class="tech-icon img-white"
                style="--anim-duration:16">
              <img src="/assets/java-icon.svg" alt="java icon" class="tech-icon img-white"
                style="--anim-duration:13">
              <img src="/assets/postgres-icon.png" alt="postgres icon" class="tech-icon img-white"
                style="--anim-duration:17">
              <img src="/assets/html-icon.png" alt="HTML icon" class="tech-icon img-white"
                style="--anim-duration:12">
              <img src="/assets/css-icon.svg" alt="CSS icon" class="tech-icon img-white"
                style="--anim-duration:15">
            </div>
          </div>
        </div>
        <div id="tech-keywords">
          <div id="keywords-background">
            <div class="keyword-line">
              <div class="horizontal-spacer"></div>
              <div class="keyword-code-container">
                <div class="window-buttons">
                  <span class="dot"></span>
                  <span class="dot"></span>
                  <span class="dot"></span>
                </div>
                <div class="code">
                  <span class="code-selector">&lt;h1&gt;</span>
                  Web Developer
                  <span class="code-selector">&lt;/h1&gt;</span>
                </div>
              </div>
            </div>

            <div class="keyword-line">
              <div class="keyword-code-container">
                <div class="window-buttons">
                  <span class="dot"></span>
                  <span class="dot"></span>
                  <span class="dot"></span>
                </div>
                <div class="code">
                  <span class="code-selector">printf(</span>
                  "Robotics & Systems"
                  <span class="code-selector">);</span>
                </div>
              </div>
              <div class="horizontal-spacer"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- about me screen -->
    <section id="about-me" class="full-page">
      <div id="about-me-container">
        <div id="about-me-circle-container">
          <div id="about-me-circle"></div>
        </div>
        <div id="about-me-web-dev">
          <div class="about-me-card">
            <p>Hi, I’m a full-stack web developer with 4+ years of experience, used to code, review, test and maintain
              clean and scalable code.</p>
          </div>
          <img src="/assets/pmr-computer.png" id="img-pmr-sticker-computer" alt="Pedro sticker with computer">
        </div>

        <div id="about-me-robotics">
          <div class="about-me-card">
            <p>I also have a robotics engineering background, having worked on computer vision, mobile robots and multi
              robot coordination.</p>
          </div>
          <img src="/assets/pmr-sticker.png" id="img-pmr-sticker" alt="Pedro sticker">
        </div>

        <div id="moving-robot-container">
          <img src="/assets/5dpo_robot.svg" id="img-5dpo-robot" alt="5DPO soccer robot" class="img-white">
        </div>
    </section>

    <!-- experience screen -->
    <section id="experience" class="full-page">
      <button id="btn-experience-toggle-game" type="button" class="btn" data-toggle="tooltip" data-placement="bottom"
        title="Toggle snake game view">
        <i class="fa-solid fa-gamepad"></i>
      </button>
      <div id="experience-timeline">
        <div id="experience-timeline-wrapper">
          <div id="experience-timeline-container">
            <div id="exp-timeline-line"></div>
            <div class="exp-timeline-item" id="exp-timeline-item-feup">
              <span class="exp-timeline-year">2012</span>
              <div class="exp-timeline-sphere-container">
                <div class="exp-timeline-sphere"></div>
              </div>
              <div class="exp-timeline-details">
                <h3 class="exp-timeline-position">Integrated Masters in Electrical and Computer Engineering, Specialized
                  in Robotics and Systems</h3>
                <small class="exp-timeline-place">@ FEUP</small>
              </div>
            </div>
            <div class="exp-timeline-item" id="exp-timeline-item-inesc">
              <span class="exp-timeline-year">2017</span>
              <div class="exp-timeline-sphere-container">
                <div class="exp-timeline-sphere"></div>
              </div>
              <div class="exp-timeline-details">
                <h3 class="exp-timeline-position">Research Assistant</h3>
                <small class="exp-timeline-place">@ INESC TEC</small>
                <p class="exp-timeline-description">Research and software development in the fields of computer vision
                  and
                  mobile robots.</p>
                <ul class="exp-timeline-keyword-chips">
                  <li>C/C++</li>
                  <li>ROS</li>
                  <li>OpenCV</li>
                </ul>
              </div>
            </div>
            <div class="exp-timeline-item" id="exp-timeline-item-sofyne">
              <span class="exp-timeline-year">2018</span>
              <div class="exp-timeline-sphere-container">
                <div class="exp-timeline-sphere"></div>
              </div>
              <div class="exp-timeline-details">
                <h3 class="exp-timeline-position">Application Support</h3>
                <small class="exp-timeline-place">@ SOFYNE</small>
                <p class="exp-timeline-description">Logistic Execution Systems and Manufactoring Execution Systems
                  support</p>
                <ul class="exp-timeline-keyword-chips">
                  <li>Oracle DB</li>
                  <li>Apriso Flexnet</li>
                </ul>
              </div>
            </div>
            <div class="exp-timeline-item" id="exp-timeline-item-jumia">
              <span class="exp-timeline-year">2019</span>
              <div class="exp-timeline-sphere-container">
                <div class="exp-timeline-sphere"></div>
              </div>
              <div class="exp-timeline-details">
                <h3 class="exp-timeline-position">Web Developer</h3>
                <small class="exp-timeline-place">@ Jumia</small>
                <p class="exp-timeline-description">Development and maintenance of more than 10 backoffice web
                  microservices.</p>
                <ul class="exp-timeline-keyword-chips">
                  <li>SpringBoot</li>
                  <li>Angular</li>
                  <li>Java</li>
                  <li>PostgreSQL</li>
                  <li>Kafka</li>
                  <li>RabbitMQ</li>
                  <li>Docker</li>
                  <li>JUnit</li>
                  <li>Prometheus</li>
                  <li>New Relic</li>
                  <li>Jenkins</li>
                  <li>HTML</li>
                  <li>TypeScript</li>
                  <li>CSS</li>
                  <li>Cypress</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="snake-side">
        <div id="snake-container">
          <div id="snake-header-container">
            <div id="snake-score-container">
              <span>Score:</span>
              <span id="snake-score">0</span>
            </div>

            <button id="btn-reset-snake-game">Reset</button>
          </div>

          <div id="snake-canvas-container">
            <canvas id="snake-canvas"></canvas>
            <img src="/assets/snake-game-over.png" id="img-snake-game-over" alt="snake game over image">
          </div>

          <div id="snake-solution">
            <span id="snake-solution-item-01" class="snake-solution-item">&nbsp;</span>
            <span id="snake-solution-item-02" class="snake-solution-item">&nbsp;</span>
            <span id="snake-solution-item-03" class="snake-solution-item">&nbsp;</span>
            <span id="snake-solution-item-04" class="snake-solution-item">&nbsp;</span>
            <span id="snake-solution-item-05" class="snake-solution-item">&nbsp;</span>
            <span id="snake-solution-item-06" class="snake-solution-item">&nbsp;</span>
            <span id="snake-solution-item-07" class="snake-solution-item">&nbsp;</span>
            <span id="snake-solution-item-08" class="snake-solution-item">&nbsp;</span>
            <span>,</span>
            <span id="snake-solution-item-09" class="snake-solution-item">&nbsp;</span>
            <span id="snake-solution-item-10" class="snake-solution-item">&nbsp;</span>
            <span id="snake-solution-item-11" class="snake-solution-item">&nbsp;</span>
            <span id="snake-solution-item-12" class="snake-solution-item">&nbsp;</span>
            <span id="snake-solution-item-13" class="snake-solution-item">&nbsp;</span>
            <span id="snake-solution-item-14" class="snake-solution-item">&nbsp;</span>
            <span>,</span>
            <span id="snake-solution-item-15" class="snake-solution-item">&nbsp;</span>
            <span id="snake-solution-item-16" class="snake-solution-item">&nbsp;</span>
            <span id="snake-solution-item-17" class="snake-solution-item">&nbsp;</span>
            <span id="snake-solution-item-18" class="snake-solution-item">&nbsp;</span>
            <span id="snake-solution-item-19" class="snake-solution-item">&nbsp;</span>
          </div>

          <div id="snake-navigation-buttons">
            <button id="btn-snake-nav-up" class="btn-snake-nav">&uarr;</button>
            <button id="btn-snake-nav-left" class="btn-snake-nav">&larr;</button>
            <button id="btn-snake-nav-down" class="btn-snake-nav">&darr;</button>
            <button id="btn-snake-nav-right" class="btn-snake-nav">&rarr;</button>
          </div>

          <div id="snake-quote-container">
            <div id="snake-quote">
              <q>If it’s not fun, you’re not doing it right</q>
              <span id="snake-quote-author">Bob Basso</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</body>

</html>