<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pedro Relvas</title>
  <link rel="icon" href="/assets/pmr-computer.png">
  <link rel="stylesheet" href="/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&family=Russo+One&family=Anton&family=Clicker+Script&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/8f12e50e01.js" crossorigin="anonymous"></script>
  <script defer src="./bundle.js"></script>
</head>

<body class="light-theme">
  <module href="/components/header.html"></module>
  <main id="main-container">
    <module href="/components/home.html"></module>
    <module href="/components/about-me.html"></module>
    <module href="/components/experience.html"></module>
  </main>
</body>

</html>