<section id="about-me" class="full-page">
  <div id="about-me-container">
    <div id="about-me-circle-container">
      <div id="about-me-circle"></div>
    </div>
    <div id="about-me-web-dev">
      <div class="about-me-card">
        <p>Hi, I’m a full-stack web developer with 4+ years of experience, used to code, review, test and maintain
          clean and scalable code.</p>
      </div>
      <img src="/assets/pmr-computer.png" id="img-pmr-sticker-computer" alt="Pedro sticker with computer">
    </div>

    <div id="about-me-robotics">
      <div class="about-me-card">
        <p>I also have a robotics engineering background, having worked on computer vision, mobile robots and multi
          robot coordination.</p>
      </div>
      <img src="/assets/pmr-sticker.png" id="img-pmr-sticker" alt="Pedro sticker">
    </div>

    <div id="moving-robot-container">
      <img src="/assets/5dpo_robot.svg" id="img-5dpo-robot" alt="5DPO soccer robot" class="img-white">
    </div>
</section>