<header id="header">
  <div class="header-content">
    <button id="btn-toggle-sidenav"><i class="fa-solid fa-bars"></i></button>
    <nav id="nav" data-visible="false" aria-expanded="false">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#home" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#about-me" class="nav-link">About me</a>
        </li>
        <li class="nav-item">
          <a href="#experience" class="nav-link">Experience</a>
        </li>
      </ul>
    </nav>
    <div id="horizontal-spacer"></div>
    <div id="nav-actions">
      <a href="https://www.linkedin.com/in/pedro-relvas/" class="i-nav-icon" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="https://github.com/pmrelvas" class="i-nav-icon" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
      <div id="theme-switcher">
        <i class="fa-solid fa-sun i-nav-icon visible" id="i-theme-sun"></i>
        <i class="fa-solid fa-moon i-nav-icon hidden" id="i-theme-moon"></i>
        <input type="checkbox" id="st-theme-switcher" value="true" />
        <label for="st-theme-switcher" id="lbl-st-theme-switcher"></label>
      </div>
    </div>
  </div>
</header>