<section id="home" class="full-page">
  <div class="full-page-container" id="home-container">
    <div id="home-thunder-lightening"></div>
    <div id="pmr-photo-container">
      <img id="img-pmr-photo" src="assets/pmr-photo.png" alt="Pedro photo">
    </div>
    <div id="home-title">
      <h2 id="title-name">Pedro Relvas</h2>
      <h1 id="title-full-stack">Full-Stack<br>Developer</h1>
    </div>
    <div id="tech-rain-container">
      <!-- tech cloud rain-->
      <div id="tech-cloud-rain">
        <img id="img-cloud" class="img-white" src="/assets/cloud.svg" alt="cloud">
        <div id="tech-icons-container">
          <img src="/assets/angular-icon.svg" alt="angular icon" class="tech-icon img-white" style="--anim-duration:14">
          <img src="/assets/spring-boot-icon.png" alt="spring boot icon" class="tech-icon img-white"
            style="--anim-duration:20">
          <img src="/assets/docker-icon.png" alt="docker icon" class="tech-icon img-white" style="--anim-duration:16">
          <img src="/assets/java-icon.svg" alt="java icon" class="tech-icon img-white" style="--anim-duration:13">
          <img src="/assets/postgres-icon.png" alt="postgres icon" class="tech-icon img-white"
            style="--anim-duration:17">
          <img src="/assets/html-icon.png" alt="HTML icon" class="tech-icon img-white" style="--anim-duration:12">
          <img src="/assets/css-icon.svg" alt="CSS icon" class="tech-icon img-white" style="--anim-duration:15">
        </div>
      </div>
    </div>
    <div id="tech-keywords">
      <div id="keywords-background">
        <div class="keyword-line">
          <div class="horizontal-spacer"></div>
          <div class="keyword-code-container">
            <div class="window-buttons">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </div>
            <div class="code">
              <span class="code-selector">&lt;h1&gt;</span>
              Web Developer
              <span class="code-selector">&lt;/h1&gt;</span>
            </div>
          </div>
        </div>

        <div class="keyword-line">
          <div class="keyword-code-container">
            <div class="window-buttons">
              <span class="dot"></span>
              <span class="dot"></span>
              <span class="dot"></span>
            </div>
            <div class="code">
              <span class="code-selector">printf(</span>
              "Robotics & Systems"
              <span class="code-selector">);</span>
            </div>
          </div>
          <div class="horizontal-spacer"></div>
        </div>
      </div>
    </div>
  </div>
</section>